@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom responsive background for the header */
.responsive-bg {
  background-image: url('../public/bookshelf_2.png');
  background-size: contain;
  background-position: center;
}

@media (min-width: 768px) {
  .responsive-bg {
    background-image: url('../public/bookshelf_3.png');
    background-size: contain;
    background-position: center;
  }
}
